In [1]:
import pandas as pd

In [3]:
messages = pd.read_csv('Book1.csv')
messages.head()

                                  sentence  label
0  Football player plays for football team      1
1         Lionel Messi plays for Barcelona      1
2             Barcelona is a football team      1
3    Christiano Ronaldo plays for Juventus      1
4  Christiano Ronaldo is a football player      1

In [4]:
messages.groupby('label').describe()

      sentence
         count unique                  top freq
label
0           91     91     Exercise is food    1
1           97     91  Rifle is automatic.    2

In [5]:
messages['length'] = messages['sentence'].apply(len)
messages.head()

                                  sentence  label  length
0  Football player plays for football team      1      39
1         Lionel Messi plays for Barcelona      1      32
2             Barcelona is a football team      1      28
3    Christiano Ronaldo plays for Juventus      1      37
4  Christiano Ronaldo is a football player      1      39

In [6]:
import string

In [31]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\ANURAG
[nltk_data]     NIDHI\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [32]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
from sklearn.feature_extraction.text import TfidfTransformer

In [43]:
from xgboost import XGBClassifier

In [44]:
from sklearn.model_selection import train_test_split
msg_train, msg_test, label_train, label_test = train_test_split(messages['sentence'], messages['label'], test_size=0.3)

In [45]:
from sklearn.pipeline import Pipeline

In [46]:
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),
    ('tfidf', TfidfTransformer()), 
    ('classifier', XGBClassifier())])

In [47]:
pipeline.fit(msg_train,label_train)

Pipeline(memory=None,
     steps=[('bow', CountVectorizer(analyzer=<function text_process at 0x000001E15B1C2D08>,
        binary=False, decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=1.0,
        max_features=None, min_df=1, ngram_range=(1, 1), preprocesso...
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1))])

In [48]:
predictions = pipeline.predict(msg_test)

C:\Users\ANURAG NIDHI\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [49]:
from sklearn.metrics import classification_report

In [51]:
print(classification_report(label_test,predictions))

             precision    recall  f1-score   support

          0       0.56      0.36      0.44        25
          1       0.61      0.78      0.68        32

avg / total       0.59      0.60      0.58        57